/* Box-Sizing Rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Remove default margins */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote {
    margin: 0;
}
ul:not([role="list"]) {
    list-style-type: none;
}

/* Core Root Defaults */
:root,
html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Images cannot break our layout. They can only be as wide as the parent container. */
img,
picture {
    display: block;
    max-width: 100%;
}

@media (prefers-reduced-motion: reduce) {
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}